.nav{
    position: fixed;
    width: 100%;
    top: 0;
    display:flex;
    justify-content:space-between;
    padding:20px;
    background-color: #111;
    height:30px;
    z-index: 1;
}

.nav__logo{
  width: 100px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}

.nav__avtar{
    width: 45px;
    object-fit: contain;
    position: fixed;
    right: 20px;
}